/**
 * Variables for SASS
 *
 * Note that I am not using too many global things like this. The theme is pretty
 * Simple by design so there isn't much to keep track of
 */

/**
 * Colors
 */

$backgroundColor: white;
$textColor: black;
$footerTextColor: #CCC;

// Numbered Schemes

$visited: purple;

$accent-colors:
	royalblue,
	#B90239,
	#347200,
	#006C6C;

$accent-dark-colors:
	midnightblue,
	#800025,
	#144A00,
	#004F80;

// Palette Dependent Colors
@for $i from 1 through length($accent-colors) {
	.color-palette-#{$i}{
		a {
			color: nth($accent-colors, $i);
		}

		a:hover,
		a:focus,
		a:active {
			color: nth($accent-dark-colors, $i);
		}

		.site-header,
		.site-footer,
		.site-logo,{
			box-shadow: 0 0 1em .25em nth($accent-dark-colors, $i);
		}

		.site-logo {
			border: solid 1px nth($accent-dark-colors, $i);
		}

		.entry-cat-icon{
			text-shadow: 0 0 0.2em nth($accent-dark-colors, $i);
		}

		.main-navigation .search-form .search-field:focus{
			box-shadow: 0 0 1em .25em nth($accent-dark-colors, $i);
		}

		.main-navigation .search-form .search-submit:focus{
			box-shadow: 0 0 1em .25em nth($accent-dark-colors, $i);
			text-shadow: 0 0 0.2em nth($accent-dark-colors, $i);
		}

		.main-navigation .search-form .search-submit:hover{
			background-color: nth($accent-dark-colors, $i);
			color: white;
		}

	}
}

// Palette Independent Link Colors
a:visited {
	color: $visited;
}

.entry-cat-icon a{
	color: black;
	text-decoration: none;
}

.site-header a,
.site-footer a,
.site-header a:visited,
.site-footer a:visited, {
	color:white;
}

// Transitions
a{
	transition: color 0.5s;
}

.site-header,
.site-footer,
.site-logo,
.search-form .search-field,
.search-form .search-submit {
	transition: box-shadow 0.5s, color 0.5s, background-color 0.5s;
}

.entry-cat-icon {
	transition: text-shadow 0.5s;
}

// Transition Through Palette
.color-palette-transition{
	a {
		color: black;
		transition: none;
	}

	.site-header,
	.site-footer,
	.site-logo,
	.search-form .search-field,
	.search-form .search-submit {
		transition: none;
	}
}
