/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comments-area{
	max-width: $contentWidth;
	margin: 0 auto;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
