/**
* Stuff for the post-content things. This includes both single and post things
*/

.singular {
	.entry-header {
		text-align: center;
		margin: 6em auto 3em auto;
		max-width: 640px;

		h1 {
			margin-bottom: 0;
			line-height: 1em;
		}
	}
}
