/**
 * Stuff for the post-content things. This includes both single and post things
 */

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.singular {
	.entry-header {
		text-align: center;
		margin: 6em auto 0 auto;
		max-width: 320px;
	}
}
