/**
* Stuff for the post-content things. This includes both single and post things
*/

.singular {
	.entry-header {
		text-align: center;
		margin: 5em auto 3em auto;
		max-width: 640px;

		.post-category,
		.entry-meta{
			font-style: italic;
		}

		h1 {
			margin-bottom: 0;
			line-height: 1em;
		}
	}

	.entry-content{
		max-width: 640px;
		margin: 0 auto;

		p:first-child:first-letter{
			font-size: 4em;
	    float: left;
	    line-height: 0.7em;
		}
	}
}
