/**
 * Styles for the main header and footer. They look pretty similar anyway
 */

.site-header,
.site-footer {
  position: relative;
  margin: 2em 0;
  height: 3em;
  background-color: black;
  color: white;
}

// Creates the white bar effect
.site-header:before,
.site-footer:before {
  position: absolute;
  height: 2.5em;
  width: 100%;
  top: 0.25em;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.site-logo{
  position: fixed;
  z-index:10;
  top: 1em;
  width: 5em;
  left: 10%;
  background-color: white;
  border-radius: 2.5em;
  overflow:hidden;
}

// Adjust fixed logo for the login admin bar
.admin-bar .site-logo{
  top: calc(1em + 32px);
}

@media screen and ( max-width: 782px ) {
  .admin-bar .site-logo{
    top: calc(1em + 46px);
  }
}

.site-logo img{
  display: block;
  position:relative;
  top: 2px; // My logo needs a bit of an adjustment to be in the center
}

.site-logo.loading{
  border: 1px solid white;
}

.site-logo.loading img{
  top: 0px;
}

.site-info{
  position: relative;
  max-width: $contentWidth;
  margin: 0 auto;
  line-height: (3em / 0.9);
  text-align: center;
  font-size: 0.9em;
  color: $footerTextColor;
}

@media screen and (max-width: $contentWidth){
  .site-header{
    margin-top: 1em;
  }

  .site-logo{
    width: 3em;
  }

  .site-footer{
    height: 5em;
  }

  .site-footer:before{
    height: 4.5em;
  }

  .site-info{
    padding: 1.5em 0;
    line-height: 1.5em;
  }
}
