/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $accentColor;
}

a:visited {
	color: $antiAccentColor;
}

a:hover,
a:focus,
a:active {
	color: black;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
